nav {
    background-color: cadetblue;
}

.navBar {
    display: flex;
    flex-direction: row;
}

.navButton {
    padding: 20px;
    background: none;
    color: black;
    border: none;
    font-size: 14px;
}

.navButton:hover {
    background-color: aliceblue;
    cursor: pointer;
}